.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.select{
  width: 30%;
  height: 60px;
  margin-top: 30px;
  margin-left: 18px;
  border-radius: 60px;
  border: 4px solid sienna;
  color:rgb(255, 255, 255);
  background-color: #e94a4a;
  

}
.result{
  border: 2px solid burlywood;
  color: white;
  background-color: #282c34;
  
}